extends layout.pug

block main
	form.my-4(action='dang-nhap', method='post')
		input.border-black.border.p-2#username(type='text', name='username', placeholder='Tên người dùng')
		input.border-black.border.p-2#password(type='password', name='password', placeholder='Mật khẩu')
		input.p-2(type='submit', value='Đăng nhập')
	section.my-4
