extends layout.pug

block main
	form.my-4(action='dang-nhap', method='post')
		input.border-black.border.p-2#username(type='text', name='username', placeholder='Tên người dùng')
		input.border-black.border.p-2#password(type='password', name='password', placeholder='Mật khẩu')
		input.p-2(type='submit', value='Đăng nhập')
	section.my-4
		a(href="/nguoi-dung/60c033c34bddbdc7d2964361")
			h3 Chi tiết về người dùng GV001
	section.my-4
		a(href="/thong-bao")
			h3 Tất cả thông báo
		a(href="/thong-bao/60ba30ca4bddbdc7d21f167b")
			h3 Chi tiết thông báo thứ nhất
	section.my-4
		a(href="/danh-gia?user=60b2087e843b0283d755117e")
			h3 Trả đánh giá theo người dùng có maND là HS001
		a(href="/danh-gia/60b745814bddbdc7d2df9b75")
			h3 Trả chi tiết đánh giá

