extends layout.pug

block main
	form.my-4(action='dang-nhap', method='post')
		input.border-black.border.p-2#username(type='text', name='username', placeholder='Tên người dùng')
		input.border-black.border.p-2#password(type='password', name='password', placeholder='Mật khẩu')
		input.p-2(type='submit', value='Đăng nhập')
	section.my-4
		a(href="/api/thong-bao/hoc-tap")
			h3 Thông báo học tập
		a(href="/api/thong-bao/hoc-phi")
			h3 Thông báo học phí
		a(href="/api/thong-bao/hoat-dong")
			h3 Thông báo hoạt động
	section.my-4
		a(href="/danh-gia?id=60b2087e843b0283d755117e")
			h3 Trả đánh giá theo người dùng có maND là HS001
