extends layout.pug

block main
	a(href="api/hieu-truong/danh-gia")
		h3.text-lg Tất cả đánh giá
	a(href="api/hieu-truong/danh-sach/hoc-sinh")
		h3.text-lg Tất cả học sinh
	a(href="api/hieu-truong/danh-sach/giao-vien")
		h3.text-lg Tất cả giáo viên