extends layout.pug

block main
	section.my-4.flex
		h1= dg.ten
		small= dg.giaoVien + ' : ' + dg.ngayDang + ' : ' + dg.monHoc
		.my-3
			form(action="/hoc-sinh/danh-gia"+dg.id, method="post")
				textarea.border-black.border.p-2.my-2(name="gopY", cols="30", rows="10")
				input(type="submit", value="Hoàn tất đánh giá")
