form(action="dang-nhap", method="post")
	input(type="text", name="username" placeholder="Tên người dùng")
	input(type="password", name="password" placeholder="Mật khẩu")
	input(type="submit", value="Đăng nhập")
