a(href="/hien/QT001" style="margin-bottom: 1rem")
	h2 Hiện đánh giá dành cho quản trị viên QT001
form(action="dang-nhap", method="post")
	input(type="text", name="username" placeholder="Tên người dùng")
	input(type="password", name="password" placeholder="Mật khẩu")
	input(type="submit", value="Đăng nhập")
