doctype html
html(lang="en")
	head
		meta(charset='UTF-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width,initial-scale=1')
		title Test API trả về cho back-end
		link(rel="stylesheet", href="general.css")
		link(href='https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css', rel='stylesheet')
	body
		header.p-4.border-b-2
			nav.flex
				li.flex-initial
					a.bg-blue-500.text-white.rounded.ml-3.p-2(href='/') API chung
				li.flex-initial
					a.bg-red-500.text-white.rounded.mx-3.p-2(href='hieu-truong') API cho hiệu trưởng
				li.flex-initial
					a.bg-green-500.text-white.rounded.mx-3.p-2(href='quan-tri') API cho quản trị
				li.flex-initial
					a.bg-indigo-500.text-white.rounded.mx-3.p-2(href='hoc-sinh') API cho học sinh
				li.flex-initial
					a.bg-purple-500.text-white.rounded.mx-3.p-2(href='phu-huynh') API cho phụ huynh
				li.flex-initial
					a.bg-gray-500.text-white.rounded.mx-3.p-2(href='giao-vien') API cho giáo viên
		main.mx-4.my-6
			block main
