extends layout.pug

block main
	section.my-4.flex
		form.flex-1.flex.flex-col(action="", method="post")
			input.border-black.border.p-2.my-2(type="text", name="tenDG", placeholder="Tiêu đề của đánh giá")
			select.border-black.border.p-2.my-2(name="doiTuongDG")
				each gv in giaoVien
					option(value=gv.id)= gv.ten
			select.border-black.border.p-2.my-2(name="nguoiDG")
				each hs in hocSinh
					option(value=hs.id)= hs.ten
			select.border-black.border.p-2.my-2(name="monHoc")
				each m in monHoc
					option(value=m.id)= m.mon
			select.border-black.border.p-2.my-2(name="ngayDG")
				each n in ngayHoc
					option(value=n.id)= n.ngay

